h6 {
  color: white;
  padding: 2rem 0;
  font-size: 1.5rem !important;
}

.poster-img {
  position: relative;
  width: 253px;
  height: 380px;
}
.card {
  z-index: 6;
  position: absolute;
  width: 253px;
  height: 380px;
  border-radius: 6px;
  border: 1px solid white;
}

.children {
  position: absolute;
  opacity: 1;
  z-index: 6;
  bottom: 1rem;
  cursor: pointer;
  padding: 1rem;
  left: 10px;
  color: #c55958;
  font-size: 45px;
}
