.login-form {
  display: flex !important;
  align-content: center !important;
  height: 700px;
  width: 500px !important;
  margin: auto !important;
}
.login-btn {
  background-color: #c55958 !important;
  color: white !important;
}
.register {
  color: #c55958 !important;
}
