.searchbar {
  width: 100%;
  text-align: center;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar-input {
  text-align: center;
  width: 50%;
  font-size: 3rem;
  background: none;
  border: none;
  color: #fff;
  outline: none;
}
.searchbar-input::placeholder {
  color: #828181;
}

.search-icon {
  font-size: 3rem;
  color: #828181;
}
.search-icon:hover {
  color: white;
}

.bar {
  position: fixed;
  width: 89%;
  top: 8px;
  z-index: 11;
}
