.posterList {
  margin-top: 8rem;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ui.grid > .row > .column {
  margin-top: 4rem !important;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  display: block;
  margin: "";
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
}
