@import url("https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  /* font-family: "Wicked Scary Movie", Helvetica, Arial, sans-serif !important; */
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
