@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Luckiest+Guy|Sunshiney|Supermercado+One&display=swap");

* {
  box-sizing: border-box;
  font-family: "Bowlby One SC", cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root > div {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
